
# target
target/

# IDEs
.idea/

# kafka subproject
kafka/target/
kafka/src/main/kafka_2.11-0.10.2.1/data/
kafka/src/main/kafka_2.11-0.10.2.1/logs/

# cassandra subproject
cassandra/target/
cassandra/src/main/apache-cassandra-3.10/data/
cassandra/src/main/apache-cassandra-3.10/logs/
